/.idea
/.lein-repl-history
/.lein-failures
.nrepl-port
**/*/.lsp/.cache
.lsp/.cache

.clj-kondo/
!.clj-kondo/config.edn
/out
target/
/.DS_Store
.cpcache
/.calva/output-window
output.calva-repl
*.jar
*.class

**/*/pom.properties

/.classpath
/.project
/.settings/
/reports

/.lh
