{:paths ["scripts"]
 :min-bb-version "0.4.0"
 :tasks {:requires ([babashka.fs :as fs])
         clean (do (fs/delete-tree "target")
                   (fs/delete-tree "lsp4clj.jar"))
         test (shell "clojure -M:test")

         pom (shell "clojure -T:build pom")

         jar (shell "clojure -T:build jar")

         lint (do (shell "clojure-lsp format --dry")
                  (shell "clojure-lsp clean-ns --dry")
                  (shell "clojure-lsp diagnostics --dry"))
         lint-fix (do (shell "clojure-lsp format")
                      (shell "clojure-lsp clean-ns"))

         ;; Receive arg without v
         tag lsp4clj.ci/tag

         deploy-clojars (shell "clojure -T:build deploy-clojars")}}
