{:deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/core.async {:mvn/version "1.5.648"}
        org.eclipse.xtend/org.eclipse.xtend.lib {:mvn/version "2.27.0"}
        org.eclipse.lsp4j/org.eclipse.lsp4j {:mvn/version "0.15.0"  :exclusions [org.eclipse.xtend/org.eclipse.xtend.lib]}
        org.clojure/data.json {:mvn/version "2.4.0"}
        com.google.code.gson/gson {:mvn/version "2.9.0"}
        lsp4clj/protocols {:local/root "../protocols"}
        medley/medley {:mvn/version "1.4.0"}
        org.clojure/java.data {:mvn/version "1.0.95"}}
 :paths ["src" "resources"]
 :aliases {:test {:extra-deps {lambdaisland/kaocha {:mvn/version "1.64.1010"}}
                  :extra-paths ["test"]
                  :main-opts ["-m" "kaocha.runner"]}
           :build {:extra-paths ["resources"]
                   :deps {io.github.clojure/tools.build {:git/tag "v0.8.1"
                                                         :git/sha "7d40500"}
                          slipset/deps-deploy {:mvn/version "0.2.0"}}
                   :ns-default build}}}
